@{
    ViewData["Title"] = "Connexion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Inner Banner -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Connexion</h3>
            <ul>
                <li><a href="/Home/Index">Accueil</a></li>
                <li><i class='bx bx-chevrons-right'></i></li>
                <li>Connexion</li>
            </ul>
        </div>
    </div>
    <div class="inner-shape">
        <img src="~/images/shape/inner-shape.png" alt="Images">
    </div>
</div>
<!-- Inner Banner End -->

<!-- User Area -->
<div class="user-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="user-img">
                    <img src="~/images/user-img.png" alt="Images">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="user-form">
                    <div class="contact-form">
                        <h2>Log In</h2>
                        <form asp-action="Login" asp-controller="Account" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" name="username" class="form-control"
                                               required placeholder="Nom d'utilisateur ou Email">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control"
                                               placeholder="Mot de passe">
                                    </div>
                                </div>

                                <div class="col-lg-12 form-condition">
                                    <div class="agree-label">
                                        <input type="checkbox" id="chb1">
                                        <label for="chb1">
                                            Se souvenir de moi
                                            <a class="forget" href="/Account/ForgotPassword">Mot de passe oublié ?</a>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <button type="submit" class="default-btn btn-bg-two">
                                        Se connecter
                                    </button>
                                </div>

                                <div class="col-12">
                                    <p class="account-desc">
                                        Pas encore membre ?
                                        <a href="/Account/Register">S'inscrire</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- User Area End -->
